.action-container {
   display: flex;
   gap: 10px;
}

.add-button {
    align-self: end;
    cursor: pointer;
}

.checklist-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-family: Minecraft; 

    > p {
        text-align: center;
       
    }

    &:hover {
        background-color: var(--lumo-primary-color-10pct);  
    }

    >vaadin-button {
        cursor: pointer;
    }
}

.completed-item {
    > p {
        text-align: center;
        text-decoration: line-through;
        text-decoration-color: rgb(112, 27, 27);
    }
}


.tasklist-container {
    --lumo-font-family: Minecraft;
    font-family: Minecraft;
    position: absolute;
}